html {
    background-color : tomato;

}
div{

    padding: 20px;
}

#first-box {
    margin: 30%;
    border: 2px solid black;
    background-color: antiquewhite;

}
#first-box-one,
#first-box-three{
    margin: 10px 40%;
    border: solid white;
    background-color: teal;
}
#first-box-two{
    border: dashed white;
    background-color: teal;
}
